header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.barra-lateral {
    background: #c4841b;
    color: #fff;
    min-width: 350px;
    min-height: 100vh;
    padding-right: 0000px !important;
    padding-left: 0000px !important;
    position: fixed;
}

.barra-lateral a {
    color: #fff;
}

/*Estilos Menu*/
.barra-lateral .menu a {
    display: block;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Roboto, sans-serif;
    font-weight: 800;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.barra-lateral .menu a:hover {
    background-color: #a14713;
    color: #fff;
    text-decoration: none;
}

.active {
    background-color: #a14713;
}

.barra-lateral .menu {
    border-top: 5px #fff solid;
}

.barra-lateral .menu a i {
    margin-right: 20px;
}

/*Main */
.main {
    padding-top: 5px;
    margin-bottom: 6px;
}

.main .columna {
    padding-left: 410px;
    padding-right: 60px;
}

/*Dashboard Principal*/

img.imagenResumen{
    border-radius: 10px;
    height: 130px;
    width: 200px;
}

/*Cartas*/
div.cuerpo {
    padding-bottom: 100px;
}

.cabanaCard {
    height: 314px !important;
}

div.tituloIzquierdo {
    position: absolute;
    left: 24px;
}

div.tituloDerecho {
    position: absolute;
    right: 24px;
}

img.Icono{
    height: 16px;
    position: relative;
    right: 1px;
    bottom: 1px;
}

img.imgCabana {
    height: 250px;
    width: 376px;
    border-radius: 10px;
    position: absolute;
    left: 0px;
}

p.titulo {
    font-weight: 700;
    text-align: left;
    font-size: larger;
}

input.btnEliminar {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

/*Card Solicitudes*/
.solicitudesCard {
    height: 320px !important;
}

.lista{
    position: absolute;
    top: 6px;
}

.btnContacto{
    position: absolute;
    left: 270px;
    top: -3px;
}

.btnAceptar {
    position: absolute;
    right: 276px;
    bottom: -70px;
}

.btnRechazar {
    position: absolute;
    right: 0px;
    bottom: -70px;
}

/*Card Mis Arriendos*/
.cartaMisArriendos {
    height: auto !important;
}

img.imgCabanaMisArriendos {
    height: 250px;
    width: 376px;
    border-radius: 10px;
    position: absolute;
    left: 16px;
}

.comentarios{
    position: relative;
    bottom: 31px;
}

label.titulo{
    font-weight: 700;
    font-size: larger;
    position: relative;
    right: 150px;
}

textarea{
    height: 160px;
    resize:none !important;
}

/*MEDIAQUERYS*/

@media screen and (max-width:1300px) {
    .barra-lateral {
        min-width: auto;
    }

    .barra-lateral .menu a span {
        display: none;
    }

    .barra-lateral .menu a i {
        margin: 0;
    }

    .barra {
        min-width: auto;
    }

    .main .columna {
        padding-left: 98px;
        padding-right: 40px;
    }
}

@media screen and (max-width:575px) {
    .barra-lateral {
        min-width: auto;
    }

    .barra-lateral .menu a {
        display: inline-block;
        border-bottom: none;
    }

    body {
        font-size: 16px;
        overflow: visible;
    }
}