
.formulario-busqueda{
    margin: auto;
    height: 4rem;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.367);
    border-radius: 10px;
}
.formulario{
    display: flex;
    width: 100%;
    padding: 0.6rem;
}
.inpt{
    margin: 0.7%;
    width: 100%;
}
.titulo-ciudades{
    color: white;
    width: 40rem;
    background-color: rgba(0, 0, 0, 0.367);
    padding: 3px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

border-radius: 6px;
border-style: dashed;

}
legend{
    font-size: medium;
}
main{
    
    background-color: #21D4FD;
background-image: linear-gradient( #21D4FD 0%, #B721FF 100%);

}
.card-img{
    width: 20rem;
    height: 20rem;
}

/* contenido busqueda.php*/

.card-bsq{
   
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 2px;
    border: 2px;
    justify-self:center;
    align-items: center;
    
}
.card{
    margin: 0.3rem;
}

.card-bsq-2{
    display: inline-flex;
    flex-wrap: wrap;
}
.container-mapa{
  display: inline-flex;  
    height: 100%;
    width: 100%;
    padding: 0.4rem;
}

@media screen and (max-width:1080px) {
    .card-cards{
        flex-wrap: wrap;
    }
    .card{
        width: 16rem;
    }
    
}
